<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- Include jQuery Cookies library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" href="/static/sign_up.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script defer src="/static/sign_up.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="sign-header">Sign up</h1>
    <form action = "http://18.222.18.229/model" id="sign-form" method = "POST">
      <input type="text" name= userid id="new-userid-field" class="sign-form-field" placeholder="User ID">
      <input type="password" name= password id="new-password-field" class="sign-form-field" placeholder="New Password">
      <input type="password" name= confirm_password id="confirm-password-field" class="sign-form-field" placeholder="Confirm Password">
      <input type="name" name= username id="new-username-field" class="sign-form-field" placeholder="User Name">
      <input type="birthday" name= birthday id="birthday-field" class="sign-form-field" placeholder="2000-00-00">
      <input type="gender" name= gender id="gender-field" class="sign-form-field" placeholder="남/여">
      <input type="email" name= email id="email-field" class="sign-form-field" placeholder="abcd@abcd.com">
      <input type="phone_number" name= phone id="phone-number-field" class="sign-form-field" placeholder="숫자만 입력하세요">
      <div>
        <input type="radio" name="bodyshape" id="normal" value="normal" checked>  보통    
        <input type="radio" name="bodyshape" id="slim" value="slim">  마름    
        <input type="radio" name="bodyshape" id="chubby" value="chubby">  통통    
      </div>
      <input type="submit" value= "Sign up" id="sign-form-submit" style="margin-top:20px; z-index:1;">
      </form>
  
      <a style="margin-top: 5%;" href="/">Already have an account? Login here.</a>

  </main>
</body>

</html>
